name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Optional: cancel older runs of the same branch/PR
concurrency:
  group: playwright-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        browser: [Chromium, Firefox, WebKit] #for clear report all 3 run at the same time
        shard: [1,2] # split into 2 VM in parallel
        suite: [smoke, regression] # to run smoke and regression suites
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install deps
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps
      
      - name: Run tests Run tests (project=${{ matrix.browser }}, suite=@${{ matrix.suite }}, shard=${{ matrix.shard }}/2)
        run: npx playwright test --project=${{ matrix.browser }} --grep=@${{ matrix.suite }} --shard=${{ matrix.shard }}/2 --reporter=github,html

      # Uses both 'github' (nice summary) and 'html' (artifact)

      - name: Upload HTML report
        if: ${{ !env.ACT && always() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ matrix.browser }}-${{ matrix.suite }}-shard${{ matrix.shard }}
          path: playwright-report
          retention-days: 7

      - name: Upload traces & videos (on failure)
        if: ${{ !env.ACT && failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.browser }}-${{ matrix.suite }}-shard${{ matrix.shard }}
          path: test-results
          retention-days: 7
          if-no-files-found: ignore    # prevent no traces failure 
